{% extends "base.html" %}
{% block content %}

<div class="container mt-4">

<h3>Add Product</h3>

<form action="/add-product" method="POST">

<input name="name" class="form-control mt-2" placeholder="Name">
<input name="price" class="form-control mt-2" placeholder="Price">
<input name="image" class="form-control mt-2" placeholder="Image name">
<input name="category" class="form-control mt-2" placeholder="Category">

<button class="btn btn-success mt-3">Add</button>

</form>

<hr>

<h4>Product Variants</h4>

<div id="variant-container">

    <div class="variant-row">
        <input type="text" name="quantity" placeholder="Quantity (500ml)">
        <input type="number" name="variant_price" placeholder="Price">
        <input type="number" name="variant_stock" placeholder="Stock">
    </div>

</div>

<button type="button" onclick="addVariant()">+ Add Variant</button>

<script>
function addVariant() {
    const container = document.getElementById("variant-container");

    const row = document.createElement("div");
    row.classList.add("variant-row");

    row.innerHTML = `
        <input type="text" name="quantity" placeholder="Quantity (500ml)">
        <input type="number" name="variant_price" placeholder="Price">
        <input type="number" name="variant_stock" placeholder="Stock">
    `;

    container.appendChild(row);
}
</script>


<h3>Products</h3>

{% for product in products %}

<p>
{{ product.name }} —
<a href="/delete-product/{{ product.id }}">Delete</a>
</p>

{% endfor %}

</div>

{% endblock %}