{% extends "base.html" %}
{% block content %}

<div class="container mt-4">

<h3>Add Product</h3>

<form action="/add-product" method="POST">

<input name="name" class="form-control mt-2" placeholder="Name">
<input name="price" class="form-control mt-2" placeholder="Price">
<input name="image" class="form-control mt-2" placeholder="Image name">
<input name="category" class="form-control mt-2" placeholder="Category">

<button class="btn btn-success mt-3">Add</button>

</form>

<hr>

<h3>Products</h3>

{% for product in products %}

<p>
{{ product.name }} —
<a href="/delete-product/{{ product.id }}">Delete</a>
</p>

{% endfor %}

</div>

{% endblock %}